<img src="/public/assets/img/burger.png" alt="Burger drawing" width="200" height="200">

<h1>Eat-Da-Burger!</h1>

<div class="lists">
<div class = "ready-to-be-devoured-list">
  
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="devoured-list">
  <ul>
    {{#each burgers}}
      {{#if devoured}}
        <li>
          {{id}}. {{burger_name}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
</div>

<form class="burger-submit-form">
  <div class="form-group">
    <input type="text" id="burger" name="name">
  </div>
  <button class="submit-button" type="submit">Submit</button>
  <p>Enter a burger you want to eat Click the "submit" button.</p>
</form>
