<div class="container">
  <div class="row text-center">
    <div class="col-sm-12 col-6 mx-auto">
      <img src="/assets/img/burger.png" alt="Burger drawing" width="200" height="200">
    </div>
  </div>
  <div class="row my-2 py-2">
    <div class="col-sm-12 col-md-10 offset-md-1">
      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6 my-1">
      <ul class="list-group">
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
    </div>

    <div class="col-md-6 my-1">
      <ul class="list-group ml-4">
        {{#each burgers}}
        {{#if devoured}}
        {{> burger-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row my-2 py-2">
    <div class="col-sm-12 col-md-10 offset-md-1 text-center">
      <form class="burger-submit-form">
        <div class="form-group">
          <input type="text" id="burger" name="burger_name">
        </div>
        <div class="text-center mt-2">
          <button class="submit-button" type="submit">
            <h5 class="welcome">Add a Burger</h5>
          </button>
        </div>

      </form>
    </div>
  </div>

</div>