html,
body {
    background-color: rgb(228, 182, 56);
}

.list-group-item {
    background-color: white;
}

.welcome {
    font-family: "Caveat", cursive;
    font-weight: bolder;
}

.colTitle {
    font-family: "Permanent Marker", cursive;
}